@forward 'colors';
@forward 'util/util';
@forward 'util/transitions';

@mixin sans-serif {
    font-family: 'Bitter', Georgia, 'Times New Roman', Times, sans-serif;
}

@mixin serif {
    font-family: 'Quicksand', serif;
}

$header-height: 70px
