$durations: (
    'slow': 300ms,
    'normal': 150ms,
    'fast': 100ms,
    'none': 0ms,
);

$properties: (
    'all': all,
    'opacity': opacity,
    'shadow': box-shadow,
    'transform': transform,
    'color': "color, background-color, border-color, text-decoration-color, fill, stroke",
    'base': "color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter",
    );

$easements: (
    'smooth': cubic-bezier(0.4, 0, 0.2, 1),
);

/// @param $property properties to apply transitions, or group of properties
/// @param $duration speed of transition
/// @param $easement timing function to use
@mixin transition(
    $property: base,
    $duration: normal,
    $easement: smooth,
) {
    @if map-has-key($properties, $property) { 
        transition-property: map-get($properties, $property);
        transition-timing-function: map-get($easements, $easement);
        transition-duration: map-get($durations, $duration);
    }
    @else {
        transition-property: $property;
        transition-timing-function: map-get($easements, $easement);
        transition-duration: map-get($durations, $duration);
    }
}
